{
  "root": true,
  "extends": ["airbnb", "prettier"],
  "globals": {
    "document": true,
    "window": true
  },
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "default-param-last": "off",
    "func-names": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/media-has-caption": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "node/no-unsupported-features": "off",
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/no-find-dom-node": "off",
    "react/no-unused-class-component-methods": "off",
    "react/sort-comp": "off",
    "react/no-unused-prop-types": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off"
  }
}
