.video-react {
  .video-react-options-button {
    cursor: pointer;
    @include flex(none);
    @extend .video-react-icon;
  }

  video::-webkit-media-text-track-container {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
