.video-react {
  display: block;
  vertical-align: top;
  box-sizing: border-box;
  color: $primary-foreground-color;
  background-color: #000;
  position: relative;
  font-size: 10px;
  line-height: 1;
  font-family: $text-font-family;

  @include user-select(none);

  &:-moz-full-screen {
    position: absolute;
  }

  &:-webkit-full-screen {
    width: 100% !important;
    height: 100% !important;
  }


  // All elements inherit border-box sizing
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  ul {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    list-style-position: outside;

    // Important to specify each
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  &.video-react-fluid,
  &.video-react-16-9,
  &.video-react-4-3 {
    width: 100%;
    max-width: 100%;
    height: 0;
  }


  &.video-react-16-9 {
    @include apply-aspect-ratio(16, 9);
  }

  &.video-react-4-3 {
    @include apply-aspect-ratio(4, 3);
  }

  &.video-react-fill {
    width: 100%;
    height: 100%;
  }


  // Playback technology elements expand to the width/height of the containing div
  // <video> or <object>
  .video-react-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}



